.card img{
    height: 300px;
    width: auto;
}

.card{
    background-color: rgba(0,0,0,0.5);
    padding: 15px;
    width: 300px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    transition: all ease-in-out 50ms;
}

.card:hover{
 transform: scale(1.1);
}